$margin: 0px;
$background_color: #000;
$text_color: #fff;

@import 'mixins';

#menu_bar {
	background: $background_color; 
	padding: $margin; 
	margin: $margin; 
	@include border-radius(10px);
	font-family: 'Dancing Script', cursive;
	div {
		font-family: 'Dancing Script', cursive;
		color: $text_color;
	}
}