$margin: 0px;
$background_color: #6cf;
$text_color: #fff;

@import 'mixins';

#menu_bar {
	background: $background_color; 
	padding: $margin; 
	margin: $margin; 
	@include border-radius(10px);
	font-family: 'Dancing Script', cursive;
	position: absolute;
	top: 0px;
	
	div {
		font-family: 'Dancing Script', cursive;
		color: #000;
	}
	
}